<div class="container-fluid nav-container shadow-3 z-index-3">
<div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li><a href="#/home">Home</a></li>
    <li ng-hide="signedIn()"><a href="#/login">Log In</a></li>
    <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
    <li ng-show="signedIn()"><a href="#/">{{ user.username }}</a></li>
    <li ng-show="signedIn()"><a ng-click="logout()" href ="#/home">Log Out</a></li>
  </ul>
</div>
</div>
<div class="jumbotron jumbotron-spacing shadow-1 z-index-1">
  <row>
    <div class="header-logo col-sm-2 col-sm-offset-2">
      <%= image_tag("redditplica-logo-150x150.png", alt: "logo", class: "img-responsive") %>
    </div>
    <div class="col-sm-6">
      <h1>Redditplica</h1>
      <h4>A Reddit Replica</h4>
    </div>
  </row>
</div>
