/* Material Color Pallette */

$primary-color-dark: #455A64;
$primary-color: #607D8B;
$primary-color-light: #CFD8DC;
$primary-color-text: #FFFFFF;
$accent-color: #00BCD4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

/* Global Styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.nav {
  background-color: $primary-color-dark;
}

.body {
  background-color: $primary-color-light;
}

.jumbotron {
  background-color: $primary-color;
  color: $primary-color-text;
}

.jumbotron-spacing {
  padding: 30px;
}

.post {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
