@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Material Color Pallette */

$primary-color-dark: #455A64;
$primary-color: #607D8B;
$primary-color-light: #CFD8DC;
$primary-color-text: #FFFFFF;
$accent-color: #00BCD4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$link-color: #C2185B;
$link-color-light: lighten($link-color, 10%);

/* Global Styles */

html {
  box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
  font-family: "Roboto";
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $link-color;
  &:hover {
    color: $link-color-light;
  }
}

.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.nav-container {
  background-color: $primary-color-dark;
  a {
    color: $primary-color-text;
    text-decoration: none;
    &:hover {
      color: $link-color;
    }
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: $primary-color-dark;
  text-decoration: none;
}

.jumbotron {
  background-color: $primary-color;
  color: $primary-color-text;
}

.jumbotron-spacing {
  padding: 30px;
  height: 200px;
}

.post {
  padding: 10px;
  margin: 20px 0 20px 0;
}

.post-type {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $accent-color;
  color: white;
  height: 50px;
  width: 50px;
}

.post-icon {
  vertical-align: middle;
  position: absolute;
  top: 7px;
  left: 7px;
  color: #F4F4F4;
}

.card {
  position: relative;
  background: #FFFFFF;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  @include box_shadow(1);
  &:hover {
    @include box_shadow(3);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@media(min-width: 430px) {
  .header-logo {
    padding-left: 10%;
  }
}
